:root {
	--card-width: 160px;
}

.card-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin: 15px 0;
	padding: 0;
	width: 90%;
}

.card-container {
	width: var(--card-width);
	background-color: #dddddd;
	border-radius: 4px;
}

.card-img {
	width: var(--card-width);
	height: var(--card-width);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	object-view-box: inset(25px);
}

.card-info {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 8px;
	padding: 12px;
	align-items: flex-start;
}

.card-title {
	font-size: 18px;
	margin: 0;
	padding: 0 0 6px;
	width: calc(var(--card-width) - 70px);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card-description {
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: var(--secondary-color);
}

.card-more-btn {
	width: 20px;
	height: 20px;
	background-color: var(--accent-color);
	border-radius: 50%;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-more-btn img {
	width: 10px;
	height: auto;
}
